TELOXIDE_TOKEN="BOT:TOKEN"
WEBHOOK_PORT=8443
WEBHOOK_URL=https://your.host
DATABASE_URL=mysql://user:password@host/database
PHOTOSTOCK_URL=https://photostock.url
CHANNEL_ID=-1000000000000
CHANNEL_NAME=fr0staman_channel
CONTENT_CHECK_CHANNEL_ID=-1001686300648
CONTENT_CHECK_CHANNEL_NAME=fdjdjsfkkfjsdfj
CREATOR_ID=519627546